# prefix: %%
##
## CONFIGURATION FOR %%{conf_project_name}
##


set(target_name "${PROJECT_NAME}")

# Add your sources here:
set(source_list "${CMAKE_CURRENT_LIST_DIR}/%%{conf_project_name}.cpp")


# for an executable:
#sf_create_executable(${target_name} SOURCE_LIST "${source_list}")
#sf_target_cxx(${target_name} ${%%{conf_project_name}_CXX})

# for a library:
sf_create_library(${target_name} SOURCE_LIST "${source_list}" CXX_VERSION ${%%{conf_project_name}_CXX})

